<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.MovieMapper">

   <insert id="insertMovie" parameterType="com.itwillbs.domain.MovieDTO">
        INSERT INTO movieTest (
            movie_cd, movie_nm, open_dt, movie_rank, poster_url
        ) VALUES (
            #{movieCd}, #{movieNm}, #{openDt}, #{movieRank}, #{posterUrl}
        )
    </insert>

    <select id="isMovieExists" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM movieTest WHERE movie_cd = #{movieCd}
    </select>

    <select id="getMovieList" resultType="com.itwillbs.domain.MovieDTO">
        SELECT * FROM movieTest ORDER BY movie_rank ASC
    </select>

</mapper>
